# Language:        Cpp
BasedOnStyle:  Google
ColumnLimit:  100
IndentWidth:     4
TabWidth:        4
UseTab:          Always
AlignOperands:   true
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowShortBlocksOnASingleLine: Empty 
AllowAllParametersOfDeclarationOnNextLine: false
AlignEscapedNewlines: Left
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
IndentWrappedFunctionNames: false
ExperimentalAutoDetectBinPacking: false
BinPackArguments: false
BinPackParameters: false
AlwaysBreakAfterReturnType: None
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeParens: Never
SpacesInConditionalStatement: false
SpacesInParentheses: false
PointerAlignment: Left
ReflowComments: true
CommentPragmas:  '^\\.+'
PenaltyBreakBeforeFirstCallParameter: 1000 
PenaltyReturnTypeOnItsOwnLine: 80 
PenaltyBreakAssignment: 10
PenaltyBreakComment: 1000
