build
build_local
tools/gdb_printers/
**/__pycache__/

.cache
*.elf
*.bin
*.hex
*.map
*.o
*.d
*.lst
*.axf
*.out
*.log
*.dep
*.swp
*.swo
*.tmp
*.bak
!.vscode/*

libs/FreeRTOS-Kernel/*
compile_commands.json